@page
@model FantasyWorldCup.Api.Pages.Match.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    Local
                </th>
                <th>&nbsp;</th>
                <th>
                    Vsitor
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].Schedule)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Match[0].Status)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Match) {
        <tr>
            <td>
                <img src="~/images/team/@(item.TeamA.Id).png" />
                @Html.DisplayFor(modelItem => item.TeamA.Name)
            </td>
            <td>
                <div class="row">
                    <div class="col-md-2">@Html.DisplayFor(modelItem => item.TeamAScore)</div>
                    <div class="col-md-2">-</div>
                    <div class="col-md-2">@Html.DisplayFor(modelItem => item.TeamBScore)</div>
                </div>
            </td>
            <td>
                <div class="row">
                    <div class="col-md-6">@Html.DisplayFor(modelItem => item.TeamB.Name)</div>
                    <div class="col-md-1"><img src="~/images/team/@(item.TeamB.Id).png" /></div>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
                @(item.Schedule.ToLocalTime())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
